{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}


{% block container %}
	
	<div class="jumbotron jumbotron-fluid">
		<div class="overlay"></div>
				<div class="container text-black">
					<h1 class="display-4">Hello</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quod, unde ipsum explicabo repudiandae alias velit similique vitae placeat natus quibusdam, ea dolores. Amet omnis dolores ipsum et odit, atque.</p>
					<a class="btn btn-primary btn-lg" href="#" role="button">Join</a>
				</div>
	</div>
	
	<hr>


	<section>
		{% for problem in query %}
		<div class="container">

			<div class="row problem-grid">
				<div class="col-8">
					<h2>{{ problem.problemName }}</h2>
					<div class="row">
						<div class="col">
							<p> posted by : {{ problem.email }} </p>
						</div>
					</div>
				</div>
				<div class="col">
					<img src="data:image/jpg;base64,{{ problem.image | safe }}" class="img-thumbnail" style="height: 150px;" /> 
				</div>
			</div>
		</div>
		{% endfor %}
	</section>

{% endblock %}