{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1 class="text-center">Login</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
				<form action = "/login" method="post">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>		
						<div class="form-group">
							{{ render_field(form.email, class = "form-control", placeholder=" Enter Email" ) }}			
						</div>
					<button type ="submit" class="btn btn-primary btn-block" name="button" >Submit</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
